body{
  background-color:black;
  background-image:url(../images/newspaper.jpg);
  background-size:cover;
  background-attachment: fixed;
  min-height:100vh;
  color:white;
  padding:2vmax;
  margin: 0 auto;
}
.cart-item-amount input{
  max-width: 40px;
}

.inputCart > input{
  display: flex;
  align-items: center;
  margin-bottom:3vh;
}


.darker{
  background:rgba(0,0,0,0.5);
  padding:10px;
  margin:10px;
}
.darker .nav-link{
  color:white;
  font-weight: bold;
}
img{
  height:130;
  width:150px;
}